@use 'bulma/sass/components/menu';
@use 'bulma/sass/utilities/mixins';

$sidebar-width: 250px;

@keyframes hide-sidebar {
  from {
    display: inherit;
    width: $sidebar-width;
  }
  to {
    display: none;
    width: 0;
  }
}

@keyframes show-sidebar {
  from {
    display: none;
    width: 0;
  }
  to {
    display: inherit;
    width: $sidebar-width;
  }
}

.sidebar-wrapper {
  display: flex;
  @media (prefers-color-scheme: dark) {
    --bulma-shadow-l: 80%;
    --bulma-shadow: 0 0.33em 0.66em -0.125em hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), 0.1),
      0 0px 0 1px hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), 0.02);
  }
}

.sidebar {
  @extend .menu;
  width: $sidebar-width;
  z-index: 29;

  @include mixins.touch {
    display: none;
    width: 0;
  }
}

.sidebar-menu {
  @extend .menu;
  height: calc(100vh - var(--bulma-navbar-height));
  overflow: auto;

  --bulma-menu-item-h: 28;
  --bulma-menu-item-s: 100%;
  --bulma-menu-item-color-l: 90%;
  --bulma-menu-item-background-l: 35%;
  --bulma-menu-label-color: #fff;
  --bulma-menu-list-border-left: 1px solid
    hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) - 20%));
  background-color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), var(--bulma-menu-item-background-l));
}

.sidebar.is-sidebar-hidden {
  display: inherit;
  animation: hide-sidebar 0.3s ease-out forwards;
}

.sidebar.is-sidebar-active {
  display: inherit;
  animation: show-sidebar 0.3s ease-in forwards;
}

.sidebar-content {
  flex-grow: 1;
}
