$yukkuricraft-primary: #e56a00;

@use 'bulma/sass' with (
  $primary: $yukkuricraft-primary,
  $body-font-size: 1.2rem,
  $title-weight: var(--bulma-weight-bold)
);

@use 'bulma/sass/utilities/mixins';

@use '_sidebar.scss';

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/material.css';

@import "@glidejs/glide/src/assets/sass/glide.core";
@import "@glidejs/glide/src/assets/sass/glide.theme";

.tippy-box[data-theme~='yukkuricraft'] {
  background-color: $yukkuricraft-primary;
  font-weight: 600;
}

.tippy-box[data-theme~='yukkuricraft'][data-placement^='top'] > .tippy-arrow:before {
  border-top-color: $yukkuricraft-primary;
}

.tippy-box[data-theme~='yukkuricraft'][data-placement^='bottom'] > .tippy-arrow:before {
  border-bottom-color: $yukkuricraft-primary;
}

.tippy-box[data-theme~='yukkuricraft'][data-placement^='left'] > .tippy-arrow:before {
  border-left-color: $yukkuricraft-primary;
}

.tippy-box[data-theme~='yukkuricraft'][data-placement^='right'] > .tippy-arrow:before {
  border-right-color: $yukkuricraft-primary;
}

.tippy-box[data-theme~='yukkuricraft'] > .tippy-backdrop {
  background-color: $yukkuricraft-primary;
}

.tippy-box[data-theme~='yukkuricraft'] > .tippy-svg-arrow {
  fill: $yukkuricraft-primary;
}

.glide-caption {
  position: absolute;
  left: 0;
  bottom: 45px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

*[id]:before {
  display: block;
  content: ' ';
  margin-top: -52px;
  height: 52px;
  visibility: hidden;
}

.command {
  color: hsl(0, 0%, 60%);
}

.byline {
  color: hsl(0, 0%, 60%);
  font-size: 0.9rem;
  p {
    margin: 0;
    padding: 0;
  }
}

.yc-footer {
  text-align: center;
  font-size: 1rem;
}

#version {
  float: right;
}

.parallax-wrapper {
  position: relative;
}

//https://www.w3schools.com/howto/howto_css_parallax.asp
.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax-blur {
  filter: blur(10px);
}

.parallax-foreground {
  z-index: 10;
}

.parallax-text {
  background-color: #4c4c4c3f;
  color: white;
  border-radius: var(--bulma-radius);
}

@media (max-width: 576px) {
  .smaller-sm-text {
    font-size: 75%;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.container-error {
  margin-top: 5%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

.site {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.markdown-formatting {
  img {
    width: 100%;
  }
}

.frontmatter-markdown {
  img {
    width: 100%;
  }
}

@include mixins.desktop {
  .frontmatter-markdown {
    img {
      width: 50%;
    }
  }
}
