$primary: #e56a00;
$primary-alt: #c65000;

$enable-responsive-font-sizes: true;
$font-size-base: 1.2rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap-dark-4/scss/dark/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap-dark-4/scss/variables-alt";
@import "~bootstrap/scss/mixins";
@import "~bootstrap-dark-4/scss/dark/mixins";
@import "~bootstrap-dark-4/scss/dark/utilities/color-schemes";
@import "sidebar";


@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/embed";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/screenreaders";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/visibility";

@import '~bootstrap-vue/src/variables';
@import '~bootstrap-vue/src/utilities';
@import '~bootstrap-vue/src/custom-controls';
@import '~bootstrap-vue/src/components/avatar/avatar';
@import '~bootstrap-vue/src/components/dropdown/index';
@import '~bootstrap-vue/src/components/form-input/form-input';
@import '~bootstrap-vue/src/components/media/media';
@import '~bootstrap-vue/src/components/modal/modal';

@include prefers-color-scheme($color-scheme-alt) {
  @import "~bootstrap-dark-4/scss/dark/root";
  @import "~bootstrap-dark-4/scss/dark/reboot";
  @import "~bootstrap-dark-4/scss/dark/type";
  @import "~bootstrap-dark-4/scss/dark/images";
  // No dark grid
  @import "~bootstrap-dark-4/scss/dark/tables";
  @import "~bootstrap-dark-4/scss/dark/forms";
  @import "~bootstrap-dark-4/scss/dark/buttons";
  // _transitions not used
  @import "~bootstrap-dark-4/scss/dark/dropdown";
  @import "~bootstrap-dark-4/scss/dark/nav";
  @import "~bootstrap-dark-4/scss/dark/navbar";
  @import "~bootstrap-dark-4/scss/dark/badge";
  @import "~bootstrap-dark-4/scss/dark/card";
  @import "~bootstrap-dark-4/scss/dark/alert";
  @import "~bootstrap-dark-4/scss/dark/close";
  // _media not used
  @import "~bootstrap-dark-4/scss/dark/modal";
  @import "~bootstrap-dark-4/scss/dark/carousel";
  // _spinners not used
  @import "~bootstrap-dark-4/scss/dark/utilities";
  @import "~bootstrap-dark-4/scss/dark/dark";
}

@import "~bootstrap-dark-4/scss/dark/utilities/display-dark";

*[id]:before {
  display: block;
  content: " ";
  margin-top: -62px;
  height: 62px;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

.command {
  @media (prefers-color-scheme: $color-scheme-alt) {
    color: $gray-500-alt;
  }
  color: $gray-600;
}

.byline {
  @media (prefers-color-scheme: $color-scheme-alt) {
    color: $gray-500-alt;
  }
  color: $gray-600;
  font-size: 0.9rem;
  p {
    margin: 0;
    padding: 0;
  }
}

.yc-footer {
  text-align: center;
  font-size: 1rem;
  color: $gray-500;
  @media (prefers-color-scheme: $color-scheme-alt) {
    color: $gray-400-alt;
  }
}

#version {
  float: right;
}

.parallax-wrapper {
  position: relative;
}

//https://www.w3schools.com/howto/howto_css_parallax.asp
.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax-blur {
  filter: blur(10px);
}

.parallax-foreground {
  z-index: 10;
}

.parallax-text {
  @extend .alert;
  background-color: #4C4C4C3f;
  color: white;
}

@media (max-width: 576px) {
  .smaller-sm-text {
    font-size: 75%;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.container-pad {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.container-error {
  margin-top: 5%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

.markdown-formatting {
  img {
    width: 100%;
  }
}

@include media-breakpoint-up(xs) {
  .frontmatter-markdown {
    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .frontmatter-markdown {
    img {
      width: 50%;
    }
  }
}



