$primary: #e56a00;
$primary-alt: #c65000;

$body-bg-dark: #222;
$body-color-dark: #e1e1e1;

$enable-responsive-font-sizes: true;
$font-size-base: 1.2rem;
$color-mode-type: media-query;

@import "/node_modules/bootstrap/scss/bootstrap";
//@import "/node_modules/bootstrap-vue-next/src/styles/styles";

@import "_sidebar.scss";

*[id]:before {
  display: block;
  content: " ";
  margin-top: -62px;
  height: 62px;
  visibility: hidden;
}

.text-no-underline {
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

.command {
  color: $gray-600;
}

.byline {
  color: $gray-600;
  font-size: 0.9rem;
  p {
    margin: 0;
    padding: 0;
  }
}

.yc-footer {
  text-align: center;
  font-size: 1rem;
  color: $gray-500;
}

#version {
  float: right;
}

.parallax-wrapper {
  position: relative;
}

//https://www.w3schools.com/howto/howto_css_parallax.asp
.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax-blur {
  filter: blur(10px);
}

.parallax-foreground {
  z-index: 10;
}

.parallax-text {
  @extend .alert;
  background-color: #4C4C4C3f;
  color: white;
}

@media (max-width: 576px) {
  .smaller-sm-text {
    font-size: 75%;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.container-pad {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.container-error {
  margin-top: 5%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

.yt-embed {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.markdown-formatting {
  img {
    width: 100%;
  }
}

@include media-breakpoint-up(xs) {
  .frontmatter-markdown {
    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .frontmatter-markdown {
    img {
      width: 50%;
    }
  }
}



